<%= form_for @todo_list do |f| %>

	<div class = "form-fields">

		<%= f.label :title, "Title *", class: "form-label" %>
		<%= f.text_field :title, class: "form-field" %>

		<br>

		<%= f.label :list_type, "Type", class: "form-label" %>
		<%= f.text_field :list_type, class: "form-field" %>

		<br>

		<%= f.label :remove_self, "Remove after all items are complete?", class: "form-label" %>
		<%= f.check_box :remove_self, class: "form-field" %>

		<%= fields_for :todo_item do |todo_item_form| %>

			<%= todo_item_form.text_field :content %>

		<% end %>

		<%= f.submit "Create List" %>

	</div>


<% end %>