<%= form_for @todo_list do |f| %>

	<div class = "form-fields">

		<%= f.label :title, "Title *", class: "form-label" %>
		<%= f.text_field :title, class: "form-field" %>

		<br>

		<%= f.label :list_type, "Type", class: "form-label" %>
		<%= f.text_field :list_type, class: "form-field" %>

		<br>

		<%= f.label :remove_self, "Remove after all items are complete?", class: "form-label" %>
		<%= f.check_box :remove_self, class: "form-field" %>
		<br>

		<%= f.label :color, "Color", class: "form-label" %>
		<%= f.select :color, options_for_select(TodoList::COLORS, @todo_list.color), class: "form-field" %>

		<%= f.submit "Create List" %>

	</div>


<% end %>