<%= form_for @todo_list do |f| %>

	<div class = "form-fields">

		<%= f.label :title, "Title *", class: "form-label" %>
		<%= f.text_field :title, class: "form-field" %>

		<br>

		<%= f.label :list_type, "Type", class: "form-label" %>
		<%= f.text_field :list_type, class: "form-field" %>

		<br>

		<%= f.submit "Create List" %>

	</div>


<% end %>