<!DOCTYPE html>
<html>
<head>
  <title>Doable</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class = "header">

		<img class = "header-img" src="">

		<div class = "header-right">
				<ul class = "header-nav-ul">

					<%= link_to "Home", root_url, class: "header-nav-li" %>
					<%= link_to "About", root_url, class: "header-nav-li" %>

					<% if user_signed_in? %>

						<%= link_to "Lists", new_user_registration_path, class: "header-nav-li" %>
						<%= link_to "Logout", destroy_user_session_path, method: :delete, class: "header-nav-li" %>

					<% else %>

						<%= link_to "Sign Up", new_user_registration_path, class: "header-nav-li" %>
						<%= link_to "Log In", new_user_session_path, class: "header-nav-li" %>

					<% end %>
				</ul>
		</div>

</header>

	<%= yield %>

</body>
</html>
